* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 393px;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  background-color: #0e0f58;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header h1 {
  color: #d7dbfd;
  text-shadow: 0 0 4px #080808;
  text-align: center;
}

.photo-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.photo-text img {
  width: 20vw;
  border-radius: .7rem;
  -webkit-border-radius: .7rem;
  -moz-border-radius: .7rem;
  -ms-border-radius: .7rem;
  -o-border-radius: .7rem;
}

.photo-text p {
  text-align: center;
  padding: 0.8rem;
  color: rgb(255, 255, 255);
  font-size: 3vw;
}

.menu-bar {
  margin: 1rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.menu-bar > .bx-menu {
  font-weight: 400;
  font-size: 2rem;
}

.menu-bar > .bx-menu:hover {
  font-weight: 600;
  border-radius: 5px;
}

main {
  width: 100vw;
  height: auto;
  background-color: #3e51ff;
  padding: 1rem;
  background-color: #969696;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.container-projects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.projects h2 {
  font-size: 1.8rem;
  margin: 1rem;
}

.project {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.project p {
  font-size: 1.2rem;
}

.project h3 {
  font-size: 1.4rem;
}



.container-projects > .card {
  width: 60vw;
  height: auto;
  margin: 0.5rem;
  padding: 1rem;
  background-color: #1f1ff1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.card img {
  width: 30vw;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experiences {
  width: 92%;
  height: auto;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.experiences > .xp {
  width: 10rem;
  height: 8rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3208a4;
  color: #6b38f7;
  margin: 0.2rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

footer {
  width: 100vw;
  height: 5rem;
  background-color: #17033c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-social-networks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  list-style: none;
  gap: 1rem;
}

.navbar-social-networks > li > a {
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.navbar-social-networks > li > a:hover {
  color: #9436ff;
  text-shadow: 0 0 2px #fff;
}



@media screen and (min-width: 768px) and (max-width: 1279px) {
  body {
    width: 100vw;
    font-size: 25px;
  }

  .header {
    display: flex;
    justify-content: space-around;
  }

  .container-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .container-projects > .card {
    height: 11rem;
    margin: 1.5rem;
    border-radius: 8rem;
    -webkit-border-radius: 8rem;
    -moz-border-radius: 8rem;
    -ms-border-radius: 8rem;
    -o-border-radius: 8rem;
  }
}
